.advantages-card__facilities {
  margin: 0;
  padding: 0;
  margin-bottom: 46px;
}

.advantages-card__title {
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.advantages-card__description {
  margin: 0;
  padding: 0;
}

.advantages-card__wrapper {
  margin: 0;
  padding: 0;

  &--with-image {
    background-color: #81b3d2;
  }

  &--gray {
    background-color: #eeeeee;
  }

  &--triangle {
    padding-top: 54px;
    padding-bottom: 40px;
  }
}

.advantages-card__image {
  display: block;
}
