.booking {
  padding-top: 38px;
  padding-bottom: 49px;
}

.booking__title {
  padding: 0;
  margin-bottom: 30px;
}

.booking__description {
  padding: 0;
  margin: 0 29px 32px 29px;
}

.booking__button {
  padding: 16px 49px;
  margin: 0 18px;
}
