.facilities-list {
  list-style: none;
  padding: 23px 18px 46px 18px;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
}

.facilities-list__item {
  padding: 8px 0 0 47px;

  @media (min-width: 768px) {
    padding: 0;
    margin: 0;
  }

  &:not(:last-child) {
    margin-bottom: 25px;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}
