.input-text {
  padding: 16px;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
  width: 100%;

  &--phone {
    background-image: url("../img/icons/input-phone.svg");
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 60px;
  }

  &--email {
    background-image: url("../img/icons/input-email.svg");
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 60px;
  }

  &--emotions {
    min-height: 150px;
  }
}
