.main-footer {
  display: flex;
  flex-direction: column;
  padding: 33px 82px;
  gap: 30px;
  align-items: center;

  @media (min-width: @tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}
