.photos-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__text-block {
    display: flex;
    flex-direction: column;
  }

    @media (min-width: @tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 0 60px;
    }

    @media (min-width: @desktop) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

.photo-item__wrapper {
  padding-top: 15px;

    @media (min-width: @tablet) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 22px 20px 0;
      background-color: #f2f2f2;
    }
  }

  @media (min-width: @tablet) {
    .photos-list__item:first-child {
      grid-column: 1 / 3;
    }
  }

  @media (min-width: @desktop) {
    .photos-list__item:first-child {
      grid-column: 1 / 4;
    }
  }
