.review-form {
  display: flex;
  flex-direction: column;
}

.review-form__block {
  margin: 0;
  margin-top: 24px;
}

.review-form__list-item {
  display: flex;

  &--flex {
    flex-direction: column;
  }
}

.review-form__title {
  margin: 0;
  margin-bottom: 20px;
}

.review-form__button {
  margin-bottom: 3px;
}

.review-form__tooltip {
  margin-bottom: 22px;

  @media (min-width: @tablet) {
    margin-bottom: 0;
  }
}

@media (min-width: @tablet) {
  .form-border-top {
    position: relative;

    .review-form__title {
      width: 400px;
      background-color: #ffffff;
      position: relative;
      z-index: 100;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: #dbdbdb;
      height: 1px;
      width: 648px;
      top: -35%;
      left: 50%;
      transform: translate(-50%, 0);

      @media (min-width: @desktop) {
        width: 960px;
        top: -18%;
      }
    }
  }

  .emotion-block {
    position: relative;

    .review-form__title {
      width: 400px;
      background-color: #ffffff;
      position: relative;
      z-index: 100;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: #dbdbdb;
      height: 1px;
      width: 648px;
      top: -18%;
      left: 50%;
      transform: translate(-50%, 0);

      @media (min-width: @desktop) {
        width: 960px;
        top: -15%;
      }
    }
  }
}
