.review__form {
  border-top: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet) {
    padding: 0 60px 50px;
    margin-top: 83px;
    border-top: none;
  }

  @media (min-width: @desktop) {
    padding: 0 120px 50px;
    margin-top: 44px;
  }
}

.review__title {
  margin: 35px 0 0 0;

  @media (min-width: @tablet) {
    margin-top: 65px;
  }

  @media (min-width: @desktop) {
    margin-top: 115px;
  }
}

.review__description {
  margin: 24px 20px 28px;

  @media (min-width: @tablet) {
    max-width: 436px;
    margin: 20px auto;
  }

  @media (min-width: @desktop) {
    margin: 32px auto;
  }
}

.review__form--wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet) {
    flex-direction: row;
    align-items: flex-start;
    gap: 58px;

    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 338px;
      background-color: #dbdbdb;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  @media (min-width: @desktop) {
    gap: 100px;
  }
}
